body{
  display: table-cell;
}
#section1{
  display: inline-block;
  height: 200vh;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.a{
  position:relative;
  top:25%;
  transform: translate(0,-50%);

}

#section2{
  display: inline-block;
  height: 200vh;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#section3{
  display: inline-block;
  height: 200vh;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
